@page "/Box"
@inject IBoxDataService boxdata


@using System.Globalization
@using PrintBox.Pages.Components.BoxComponents

<MudGrid>
	<MudItem xs="12" Class="align-content-center">

		<MudText Align="Align.Center"><h1>Set up your PrintControl</h1></MudText>
	</MudItem>

	<MudItem xs="12" sm="6" md="12" Class="align-content-center">
		<MudGrid>
			@if (box == null)
			{
				<MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
			}
			else
			{


				@foreach (var b in box)
				{
					<MudItem xs="12" Class="ma=3" md="4">
						<BoxOnPage boxName="@b.NameOfBox"></BoxOnPage>
					</MudItem>
				}
			}
		</MudGrid>
	</MudItem>
</MudGrid>









@code {
	private List<IBoxModel> box;

	protected override async Task OnParametersSetAsync()
	{
		box = await boxdata.ReadBox();
	}



}
