@inject IBoxDataService boxdata

@if (ReadboxStates == null)
{
	<MudSkeleton Animation="Animation.Wave" />
}
else
{
	<MudPaper  Style="height: 100%">
		
				<MudStack Class="d-flex justify-center" Spacing="4" Style="height:100%;">
						<MudText Align="Align.Center"><h3>Led Intensity</h3></MudText>
						<MudSlider Class=" d-flex justify-center" Style="@($" color:{Colors.BlueGrey.Darken2};")" Size="Size.Large" TickMarks="true" Step="25" Vertical="true" Min="0" Max="100" @bind-Value="value" @onchange="HandleUpdateState"  />
	
						<MudText Align="Align.Center"><h3>@value %</h3></MudText>
					</MudStack>
	
			
	</MudPaper>
}



@code {
	int value;

	[Parameter]
	public string boxname { get; set; }

	private IBoxStateModel ReadboxStates;


	protected override async Task OnParametersSetAsync()
	{
		
		var b = await boxdata.ReadState(boxname);

		ReadboxStates = new DisplayBoxStateModel
			{
				BoxId = b.BoxId,
				Led1State = b.Led1State,
				Led2State = b.Led2State,
				Led3State = b.Led3State,
				Led4State = b.Led4State,
				LedIntensity = b.LedIntensity,
				DoorState = b.DoorState
			};
			value = ReadboxStates.LedIntensity;
	}




	private async Task HandleUpdateState()
	{
		ReadboxStates.LedIntensity = value;
		await boxdata.UpdateState(ReadboxStates);
		var b = await boxdata.ReadState(boxname);
		ReadboxStates = new DisplayBoxStateModel
			{
				BoxId = b.BoxId,
				Led1State = b.Led1State,
				Led2State = b.Led2State,
				Led3State = b.Led3State,
				Led4State = b.Led4State,
				LedIntensity = b.LedIntensity,
				DoorState = b.DoorState
			};
			value = ReadboxStates.LedIntensity;
	}

	
	
		
}
